/*Reset Styles */

*, *::before, *::after {
    box-sizing: border-box;
}

body, html, h2, h1, p, section, header, a, ul {
    padding: 0;
    margin: 0;
    display: unset;  
}

h1, h2, h3, h4 p {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: 0;
    display: block;
    color: #222620;
}
html {
    overflow-y: scroll;
    scroll-behavior:smooth;
    scroll-snap-type: y mandatory;
}

body {
    width: 100%;
    height: 100vh;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
}

ul, ul a {
    text-decoration: none;
    list-style: none;
    color: unset;
}

form {
    font-family: 'Poppins', sans-serif;
}

/*Typography*/

h1 {
    font-family: 'Eczar', serif;;
    font-size: clamp(2rem, 6vw, 3.4rem);
    line-height: 1; 
    font-weight:700;
    text-align: left; 
}


h2 {
    font-family: 'Eczar', serif;
    font-size: clamp(1.9rem, 4.5vw, 2.5rem);
    font-weight: 700;
    text-align: left;
}

h3 {
    font-family: 'Poppins', sans-serif;
    font-size: clamp(1em,2vw, 1.5em);
    line-height: 1.3rem;
    padding-bottom: 1em;
    margin:0;
    display: block;
    text-align: center;
}

h4 {
    font-family: 'Poppins', sans-serif; 
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: clamp(1em,1.3vw, 1.2em); 
    padding: 0;
}
p { 
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: clamp(1rem, 0.8vw, 1rem);
    line-height: 1.5em;
}


/* Universal Styles */

header, section {
    background: #F8EFD3;
    width: 100%;
    width: 100vw;
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content:center;
    gap: 2rem;
    scroll-snap-align: center;
}

section {
    padding-top: 3rem;
    padding-bottom:3rem;
    scroll-snap-align: center; 
}

img {
    max-width: 100%;
    height: auto;
}

.btn {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    max-width: 300px;
    font-weight: 600;
    text-decoration: none; 
    text-transform: uppercase;
    font-size: 1em;
    text-align: center;
    background:  #98C8DA;
    color: #222620;
    width: 100%;
    padding: 0.25rem 1rem 0.35rem;
    border-radius: 100px;
    transition: all 0.3s ease-in-out;

}

.btn:hover,
.btn:focus {
    background-color:  #222620;
    opacity: 1;
    color: #F9F7F0;
}

.btn i{
    width: 0;
    opacity: 0;
    -webkit-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    will-change: right, opacity;
}

.btn:hover i{
    width: 1.8rem;
    opacity: 1;
    top: 28%;
    right: 20px;
}

.container {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
    align-self: center;
}

.grid {
    display: grid;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit, 1fr); 
    grid-template-rows: auto;
}

.visually-hidden {
    display: none;
}

/*Animations*/

@keyframes wave {
    0% { transform: rotate( 0.0deg) }
    10% { transform: rotate(14.0deg) } 
    20% { transform: rotate(-8.0deg) }
    30% { transform: rotate(14.0deg) }
    40% { transform: rotate(-4.0deg) }
    50% { transform: rotate(10.0deg) }
    60% { transform: rotate( 0.0deg) } 
   100% { transform: rotate( 0.0deg) }
  }

.wave {
    display: inline-block;
    animation: wave 2s infinite;
    font-size: clamp(1.6rem, 2vw,2em);
  }  
     
@keyframes blink {
   0% { opacity: 0; }
  }
  .blink {
    color: black;
    animation: blink 1.5s steps(2) infinite;
  } 
  
/* Nav Styles */

nav {
    width: 100%;
    padding: 0.7em;
    position: fixed;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    list-style-type: none;
    background-color: #14110F;
    font-family: 'Poppins', sans-serif;
    font-size: clamp(0.8rem, 1.2vw, 1.3rem);
    z-index: 80;
}
.nav_list {
    width: 80%;
    max-width:1100px ;
    display: flex;
    justify-content: space-between;
    height: auto;

}

.nav_sublist {
    width:100%;
    display: flex;
    position: relative;
    align-items: center;
    margin: 0 auto;
    list-style-type: none;
    justify-content:center;
    gap: 0.7em;
    padding:0;
    text-align: center;
}

.nav_item {
    width: 100%;
}

.nav_link {
    position: relative;
    color: #FCF6E6;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    animation: color 2s ease-out 100ms;
    height: 0 auto;
}
.nav_link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #FED65C;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: right;
            transform-origin: right;
    transition: -webkit-transform 250ms ease-in;
    transition: transform 250ms ease-in;
    transition: transform 250ms ease-in, -webkit-transform 250ms ease-in;
}

.nav_link:hover::after {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
-webkit-transform-origin: left;
    transform-origin: left;
}

.nav_link_btn {
    font-weight: 700;
    text-transform: uppercase;
    width: 100%;
    color: #030F29;
    background-color:#FED65C;
    text-decoration: none;
    padding: .03em 2em;
    border-radius: 10em;
    transition: all 0.3s ease-in-out;
}

.nav_link_btn:hover {
    background-color:#FCF6E6;
    color: #000;
}
.nav_btn_mobile {
    display: none;
    width: 0;
}

@media screen and (max-width: 535px) {   
    
    nav {
        padding:0;
        padding: 0.2em;
    }

    .nav_btn_mobile {
        width: 100%;
        z-index: 2;
        min-height: 2rem;
        min-width: 2.3rem;
        grid-row-gap: 5px;
        background-color: transparent;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        display: flex;
        align-items: flex-end;
        position: relative;
        cursor: pointer;
    }

    .menu_btn_line {
        width: 1.5rem;
        height: 0.20rem;
        outline-offset: 0px;
        background-color: #FED65C;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

    .nav_btn_mobile.active .bottom_line:last-child {
        transform: translate3d(0px, -4px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(-45deg) skew(0deg, 0deg);
        transform-style: preserve-3d;
        transition: all 0.3s ease-in-out;
    }
    
    .nav_btn_mobile.active .top_line:first-child {
        transform: translate3d(0px, 4px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(45deg) skew(0deg, 0deg);
        transform-style: preserve-3d;
        transition: all 0.3s ease-in-out;
    }
    .nav_sublist {
        position: fixed;
        left: -100%;
        top: 1.5rem;
        gap:0;
        flex-direction: column;
        background-color:#14110F;
        width: 100%;
        transition: all 0.3s ease-in-out;
    }

    .nav_sublist.active::after {
        content: url("./resources/img/mobile_menu.svg");
        position: absolute;
        left: 64%;
        top: 47%;
        width: 20%;
    }

    .nav_sublist.active::before {
        content: url("./resources/img/mobile_menu_2.svg");
        position: absolute;
        left: 14%;
        top: 7%;
        width: 20%;
    }

    .nav_item {
        margin: 1rem 0;
    }

    .nav_sublist.active {
        left: 0;
    }
 
}

/*Header Styles */

header {
    padding-top: 1rem;
    vertical-align: middle;
}

 .header_content {
    width: 100%;
    padding-top: 4em;
    grid-row: 2/4;
    grid-column: 1;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 2vw;
    width: 100%;
 }
 
 .subheader {
    font-family: 'Poppins', sans-serif;
    font-size: clamp(0.6rem, 3.5vw, 2.2rem);
    font-weight: 700;
    text-transform: none;
    text-align: left;
 }

 .header_img {
    grid-row: 1 /5;
    grid-column: 2 /5;
    width: clamp(13rem, 35vw, 37rem);
    padding-top: 4em;
    max-width: 1000px;
 }

 .header_intro {
    width: 80%;
    padding-bottom: 1em;
 }

 .header_btns {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
 }
 .header_btns btn {
    font-size: clamp(0.2rem, 0.8rem, 1rem);
 }

 @media screen and (max-width: 535px) {
    
    header {
        padding-top: 0;
    }

    .header_content {
        grid-row: 2;
        padding-top: 0;
        align-items: center;
        padding-top: 1em;
    }
    
    .header_content h1 {
        font-size: 2rem;
    }

    .subheader {
        font-size: 1.5rem;
    }

    .header_title {
        text-align: center;
        padding: 3rem auto;
    }

    .header_content p {
        text-align: center;
    }

    .header_img {
        width: 70%;
        grid-column: 1;
        grid-row: 1;
        margin: 0 auto;
        padding-top: 3rem;
    }
 }

 /*Skills Styles */

 .skills {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

 .dev_skills {
    width:100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    gap: 1em;
}

.dev_icon{
    color: #222620;
    display: block;
    font-size: clamp(2rem, 5vw, 3rem);
}

.skill_box {
    width: 100%;
    height: 100%;
    max-width: 120px;
    padding: 0.8em 0.4em;
    background-color: #F9F7F0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
}

.skill_box h3 {
    padding: 1em;
}

.skill_box p {
    font-weight: 700;
    font-size: clamp(0.5rem, 2vw, 0.8em);
}

.round {
    border-radius: 0.75rem;
}

.soft_skills {
    width: 100%;
    text-align: justify;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
}

.soft_skill_container {
    background-color: #F9F7F0;
    width: 100%;
    min-width: 250px;
    padding: 1.5em 1.5em;
    flex: 1;
    line-height: 2rem;
}

/*About Styles*/

#about {
    width: 100%;
    background-color: #CEEBF0;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about_container {
    width: 90%;
    display: flex;
    justify-content: center;
    gap: 2em;
    align-items: center;
    flex-wrap: wrap;
}

.about_text {
    flex: 1;
    width: 100%;
    min-width: 45%;
    max-width: 700px;
    height: auto;
    display: flex;
    text-align: justify;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

.about_text h2 {
    padding-bottom: 0;
}

.about_text h3 {
    padding-bottom: 1rem;
    padding-top: 0;
}

.about_text p {
    margin: 0 auto;
    line-height: 2rem;
}
.about_text a {
    text-decoration: none;
    color:#E5B85F;
    font-size: 1.2em;
    transition: all;
}
.about_text a:hover {
    background-color: #E5B85F;
    color: #000;
    transition: 0.3s ease-in-out;
}

.about_img {
    align-self:flex-start;
    width: clamp(20rem, 13vw, 40rem);
    height: 100%;  
}

/*Projects Styles */
#projects {
    scroll-snap-align: start;
}

.projects {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.projects_container {
    grid-template-columns: repeat(auto-fit, minmax(min(350px,100%), 1fr));
    grid-auto-columns: auto;
    display: grid;
    gap: 1rem;
    width: 100%;
    height: auto;
}

.project {
    width: 100%;
    height: 100%;
    background-color: #F9F7F0;
    border: 1px solid #e3eaed;
    border-radius: 0.75rem;
    display: flex;
    flex-direction: column;
}

.project_img {
    background-color: #FED65C;
    aspect-ratio: 235 / 100;
    display: block;
    position: relative;
    border-top-right-radius: 0.75rem;
    border-top-left-radius:0.75rem;
}
.project_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
    top: 0%;
    bottom: auto;
    left: 0%;
    right: auto;
    max-width: 100%;
}

.project_decription {
    background-color: #F9F7F0;
    border-bottom-right-radius: 0.75rem;
    border-bottom-left-radius: 0.75rem;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    padding: 0.3rem 1.5rem;
    width: 100%;
    height: 100%;
    text-align:justify;
}

.project_decription h3 {
    padding-top: 1rem;
    padding-bottom: 0;
}

.project_links {
    width:70%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
}

.project_tools {
    list-style-type: none;
    display:flex;
    gap: 0.5em;
    padding: 0;
    padding-bottom: 1.5em;
    padding-top: 0.5em;
    align-self: flex-start;
}

.project_tool {
    color:#222620;
    display: inline;
    font-size: clamp(1.3rem, 3vw, 1.8rem);
}

/*Contact Styles */

#contact {
    width: 100%;
    background-color:#86AFB8;
    display: flex;
    flex-direction: column;
    gap: 2em;
    position: relative;
    overflow-x: hidden;
}

#contact h3 {
    text-align: left;
}

#contact::after {
    content: url(./resources/img/geometric_figure.svg);
    display: block;
    width: 100%;
    height: auto;
    max-width: 450px;
    position: absolute;
    z-index: 2;
    left: 69%;
    top:40%;
}

.contact_content {
    padding-top: 1rem;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 2em;
    color:#222620;
}

.form_content {
    width: 100%;
    max-width: 700px;
    height: auto;
    padding: 2.5rem;
    background-color:#F9F7F0;
    color: #222620;
    border-radius: 0.75rem;
    display: flex;
    flex-direction: column;
    gap: 2em;
    z-index: 20;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

label {
    font-size: .8125rem;
    font-weight: 400;
    line-height: 1.6em;
}

input, textarea {
    background-color:#F8EFD3;
    border: 1px solid #f8eed3;
    margin-bottom: 0.5rem;
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
    line-height: 1.7em;
    transition: border-color .2s;
    display: block;
    font-family: 'Poppins', sans-serif;
    width: 100%;
}

input {
    border-radius: 80px; 
}

input:focus {
    border-color: #81C4C5;;
}

input.error, .hs-input.invalid {
    border-color: #CF5646;
}

textarea {
    resize: none;
    border-radius: 0.75rem;
}

.yellow {
    background-color: #FED65C;
    align-self: center;
}

.orange:hover {
    cursor: pointer;
}

.social_content {
    width: 100%;
    height: auto;
    max-width: 350px;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1.2em;
    text-align: center;
    z-index: 20;
}

.social_links {
    width: 100%;
    position: relative;
    text-align: center;
    display:flex;
    justify-content: space-between;
    padding: 0;
    padding-bottom: 1.5em;
    padding-top: 0.5em;
    align-self: flex-start;   
}

.social_content i {
    color: #F8EFD3;
    position: relative;
    display: block;
    transition: all 0.2s ease-in-out;
    font-size: clamp(2rem, 4.5vw, 2.4rem);
    transform: translate(0,0px);
}

.social_content i:hover {
    color: #FED65C;
    background-color: transparent;
    transform: rotate(0deg) skew(0deg) translate(0, -10px);
    scale: 1.3;
}

/*Footer Styles*/

footer {
    background: #14110F;
    text-align: center;
    padding: 1.3rem ;
}

footer p {
    color: #F9F7F0;
    font-weight: 700;
}